body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
   background: url(assets/bg1\ \(3\).jfif) no-repeat center center fixed;
  background-size: cover;
}

.contact {
 
  padding: 20px;

}


.feedback {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #000;
  box-sizing: border-box;
}



.feedback select,
.feedback textarea,
.feedback button {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 12px;
  font-size: 16px;
  height: 45px;
}



.error-border {
  border: 2px solid red;
}

.success-border {
  border: 2px solid green;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
  }


}