body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
  background color: #FAF9F6;
  background-size: cover;
  color:#4E342E;
}

.contact {
  padding: 20px;
}

#btn {
  background-color: #6D4C41;
  border-color: #6D4C41;
  color: #fff;
}

#btn:hover {
  background-color: #5D4037;
  border-color: #5D4037;
}

.feedback {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #000;
  box-sizing: border-box;
}



.feedback select,
.feedback textarea,
.feedback button {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 12px;
  font-size: 16px;
  height: 45px;
}



input.form-control.error-border {
  border: 2px solid red !important;
  box-shadow: none !important; 
}


.success-border {
  border: 2px solid green;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 15px;
  }


}